body {
  padding: 12px;
}

#container {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

h1 {
  width: 100%;
}

h2 {
  font-size: 0.9em;
}

.by {
  font-size: 0.9em;
}

.book {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#btn-add {
  margin-left: 135px;
}

.remove {
  width: 72px;
  height: 21px;
  margin-right: 10px;
}

#book-list {
  width: 100%;
  border: 1px solid;
  list-style: none;
  margin: 0;
  padding: 0;
}

.dates {
  display: flex;
  width: 37%;
  justify-content: space-between;
  margin-left: 10px;
}
