body {
  padding: 12px;
  font-family: 'Poppins', sans-serif;
  background-image: url('./img/10libros.jpeg');
  background-size: cover; /* Ajusta el tamaño de la imagen para que cubra el fondo */
  background-repeat: no-repeat; /* Evita que se repita la imagen */
  background-attachment: fixed; /* Fija la imagen en el fondo */
}

.add-book {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

h1 {
  width: 100%;
}

h2 {
  font-size: 0.9em;
}

.by {
  font-size: 0.9em;
}

.book {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 3px solid;
  background-color: #d4a373;
}

#btn-add {
  margin-left: 6%;
  border-radius: 16px;
  width: auto;
  height: auto;
  padding: 15px;
  box-shadow: 5px 5px 5px 5px;
  background-color: palegreen;
  font-size: 20px;
}

.remove {
  width: 72px;
  height: 21px;
  margin-right: 10px;
}

a {
  text-decoration: none;
}

#book-list {
  width: 100%;

  /* border: 1px solid; */
  list-style: none;
  margin: 0;
  padding: 0;
}

.dates {
  display: flex;
  width: 37%;
  justify-content: space-between;
  margin-left: 10px;
}

.container-title {
  text-align: center;
  color: cornsilk;
  font-size: 45px;
}

.nodata {
  text-align: center;
  color: #d4a373;
}

.nav-menu {
  border: 3px solid black;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: bisque;
}

.nav-link {
  text-align: center;
  margin-right: 10px;
}

.nav-title {
  margin-left: 10px;
  font-size: 30px;
}

.nav-link:hover {
  text-decoration: underline;
  font-weight: bolder;
  font-size: larger;
  cursor: pointer;
}

.nav-link-visited {
  color: blue;
  text-decoration: underline;
}

.menuItems {
  display: flex;
  gap: 1em;
  justify-items: center;
}

.date {
  text-align: right;
  margin-top: 15px;
  font-size: 18px;
  color: white;
}

.title {
  text-align: center;
  font-size: 28px;
  color: white;

  /* font-size: 25px; */
}

.text {
  text-align: center;
  
  font-size: 22px;
  color: white;
}

.info {
  text-align: start;
  margin-top: 60px;
  margin-left: 100px;
  font-size: 27px;
  color: white;
  padding-top: 15px;
}

.footer {
  border: 2px solid;
  margin-top: 575px;
  background-color: bisque;

}

.text-footer {
  margin-left: 10px;
  font-size: 18px;
}

#add-book {
  display: none;
}

#contact {
  display: none;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-size: 28px;
}

.ul-links {
  display: flex;
  flex-direction: row;
  margin-right: 35px;
  list-style-type: none;
  width: 27%;
  font-size: 22px;
}

.input-one {
  border-radius: 16px;
  width: 550px;
  height: 20px;
  padding: 15px;
  box-shadow: 5px 5px 5px 5px;
  font-size: 20px;
}

.input-two {
  border-radius: 16px;
  width: 550px;
  height: 20px;
  padding: 15px;
  box-shadow: 5px 5px 5px 5px;
  font-size: 20px;
}

.book.even {
  background-color: #f2f2f2; /* Color de fondo para libros con índice par */
}

.book.odd {
  background-color: #e0e0e0; /* Color de fondo para libros con índice impar */
}

.all-awesone {
  color: white;
}

.add-awesone {
  color: white;
}